{% extends 'base.html' %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}
<head>
    <link rel="stylesheet" href="{% static 'css/form.css'%}">

</head>
<div class="global-container">
	<div class="card login-form">
    <div class="card-body">
      <h2 class="card-title text-center">password change</h2>
      <div class="card-text">


<form method="post" novalidate>
  <div class="form-group">

    {% csrf_token %}
  
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}
  
    {% for field in form.visible_fields %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
    {% endfor %}
  </div>
    <button type="submit" class="btn">Submit</button>
  </form>

</div>
</div>
</div>
</div>
  {% endblock  %}


  