{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container p-5">
    <h2 class="font-weight-bold mt-3 text-center "style="color: darkgreen;">Password reset sent</h2>
    <hr>
    <p class="text-center">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    <i class="bi bi-check-circle-fill d-flex justify-content-center" style="color: darkgreen;"> </i>


</div> 

{% endblock  %}

