
{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/form.css'%}">

</head>

<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h2 class="card-title text-center">Reset Password </h2>
		<div class="card-text">
			<form  action="" method="POST">
				<!-- to error: add class "has-danger" -->
				<div class="form-group">
				{% csrf_token %}
                {{form.as_p}}
				</div>
				<button type="submit" class="btn ">Reset Password</button>
				
				
			</form>
		</div>
	</div>
</div>
</div>


{% endblock  %}
