{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags static%}
<head>
    <link rel="stylesheet" href="{% static 'css/form.css'%}">
</head>

<div class="container col-md-6 cal-sm-12 p-10">

       <h1>Add new book</h1>
<div class="global-container login-form p-5">
            <form action="" method="POST">
                {% csrf_token %}
                {{form | crispy }}
            <input class="btn btn-success" type="submit" value="Submit">
            </form>
</div>
</div>

{% endblock  %}