{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container p-5">
    <h2 class="font-weight-bold mt-3 text-center "style="color: darkgreen;">Password reset complete</h2>
    <hr>
    <p class="text-center">Your password has been set. You may go ahead and log in now.</p>
    <i class="bi bi-check-circle-fill d-flex justify-content-center" style="color: darkgreen;"> </i>
    <a href="{% url 'logout' %}" class="btn d-flex justify-content-center" style="color: rgb(56, 194, 56);">Log in</a>


</div> 

{% endblock  %}

